.header
  .header_left
    Eatcoupon
  .header_right
    .header_right__shop
      =link_to new_user_session_path do
        shop
    .header_right__customer
      customer
.top-content
  .top-content_left
    .top-content_left__big
      Welcome to Eatcoupon
    .top-content_left__small
      Eatcoupon is a world-first platform that helps restaurants fill empty tables during low demand periods.
      %br
      Join over 1,400 Australian restaurants using Eatcoupon to increase patronage, atmosphere, and profitability.
.middle-content
  .middle-content__head
    The reason you should use Eatcoupon
    .middle-content__head__block
      .middle-content__head__block__explain
        Chat with the shops
        .middle-content__head__block__explain_detail
          Eatcoupon helps us drive traffic at times we choose, we have seen a 90% boost in revenue during slow periods
      .middle-content__head__block__explain
        Use voucher easily
        .middle-content__head__block__explain_detail
          Eatcoupon helps us drive traffic at times we choose, we have seen a 90% boost in revenue during slow periods
      .middle-content__head__block__explain
        Just pick up
        .middle-content__head__block__explain_detail
          Eatcoupon helps us drive traffic at times we choose, we have seen a 90% boost in revenue during slow periods
.footer
  .footer__head
    Use this app!!!
  .footer__body
    .footer__body__left
      Eatcoupon
    .footer__body__right
      .footer__body__right__icon1
        = icon('fab','facebook')
      .footer__body__right__icon2
        = icon('fab','instagram')
      .footer__body__right__icon3
        Foodclub