.footer
  .footer__head
    Use this app!!!
  .footer__body
    .footer__body__left
      Eatcoupon
    .footer__body__right
      .footer__body__right__icon1
        = icon('fab','facebook')
      .footer__body__right__icon2
        = icon('fab','instagram')
      .footer__body__right__icon3
        Eatcoupon