.atama
  .atama_left
    Eatcoupon
  .atama_right
    -# .atama_right__a
    -#   ▷messages
    -#    customer_message
    .atama_right__b
      =link_to new_user_path, class: "btn" do
        ▷profile