.atama
  .atama_left
    Eatcoupon
  .atama_right
    -# .atama_right__a
    -#   ▷messages
    -#    customer_message
    .atama_right__b
      ▷profile
      -# =link_to edit_user_path, class: "btn" do