.whole
  .whole_up
    Create your account!
  .whole_down
    You can connect these apps!!!
    .whole_down__list
      .whole_down__list__list1
        = icon('fab','instagram',class: "contents__btn")
        .whole_down__list__list1__name
          Instagram
      .whole_down__list__list2
        = icon('fab','facebook')
        .whole_down__list__list2__name
          Facebook
      .whole_down__list__list3
        = icon('fab','twitter')
        .whole_down__list__list3__name
          Twitter
      .whole_down__list__list4
        = icon('fab','snapchat-ghost')
        .whole_down__list__list4__name
          Snapchat