.atama
  .atama_left
    Eatcoupon
  .atama_right
    -# .atama_right__a
    -#   ▷messages
    -#     customer_messages(link_to)
    .atama_right__b
      -# = link_to customers_path, class: "btn" do
      ▷map
    -# customer_message(link_to)
      
    -# .atama_right__c
    -#   ▷SNS